<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">LIBRERIA</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="../listadolibros">Listado Libros</a></li>
      <li><a routerLink="../misdatos">Mis datos</a></li>
      <li class="active"><a routerLink="mispedidos">Mis pedidos</a></li>
      <li><a routerLink="../carrito">Cesta</a></li>
      <li><a routerLink="../login">Salir</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!--CABECERA-->
    <div class="col-lg-12">
        <h1 class="text-center">Mis Pedidos</h1>
    </div>
  </div>

  <div class="row">
    <div class ="col-lg-3">
      <!--TABLA-->
       <table class="table table-striped" >
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Numero Total Libros</th>
                <th>Precio Total </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidosCliente" (click)="selectPedido(pedido)" [class.active]="pedido == pedidoSelectedRow">
                <td>{{pedido.fecha  | date:'dd/MM/yyyy'}}</td>
                <td> {{pedido.numeroLibros}}</td>
                <td>{{pedido.precioTotal}}</td>
              </tr>
            </tbody>
        </table>
    <br/>
    <div class="col-lg-8 col-lg-offset-1" [hidden] ="!visibleLineas">
        <!--LISTADO-->   
        <strong>Detalles Pedido Seleccionado</strong> 
        <ul class="list-group" *ngFor = "let linea of lineasPedidos">
            <li class="list-group-item">Identificador Libro: {{linea.idLibro}} / Cantidad Libros : {{linea.cantidad}}</li>
        </ul>
    </div>
 </div>
 
</div>
