<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">LIBRERIA-ADMIN</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="../administrador">Alta Libros</a></li>
      <li><a routerLink="../gestion">Gestion Libros</a></li>
      <li> <a routerLink="../listadoclientes">Listado Clientes</a></li>
      <li class="active"><a routerLink="listadopedidos">Listado Pedidos</a></li>
      <li><a routerLink="../login">Salir</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!--CABECERA-->
    <div class="col-lg-12">
        <h1 class="text-center">Listado Pedidos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-1">
       <!--TABLA-->
       <table class="table table-striped">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Cliente</th>
                <th>Fecha </th>
                <th>Cantidad Libros</th>
                <th>Precio Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of listaPedidos">
                <td>{{pedido.id}}</td>
                <td>{{pedido.idUsuario}} </td>
                <td>{{pedido.fecha | date:'dd/MM/yyyy'}}</td>
                <td>{{pedido.numeroLibros}}</td>
                <td>{{pedido.precioTotal}} €</td>
              </tr>
            </tbody>
        </table>
    </div>
 </div>
</div>